Este projeto tem como objetivo avaliar as vendas de cursos da Empresa fictícia Olympo, que oferece cursos na área de tecnologia. Iremos integrar o MySQL ao Power Bi para gerar um dashboard interativo. O primeiro passo do projeto consiste na criação do banco de dados da empresa no MySQL Workbench. Para isso serão criadas três tabelas, davaliacoes, dcursos, dcancelamento, dclintes, dcanalvendas, dTempo e fvendas, em que as primeiras são tabelas dimensão, e a última a tabela fato com os dados das vendas dos cursos.

In [ ]:
USE db_empresacursosolympo;

-- CÓDIGOS TABELAS
DROP TABLE fvendas;
DROP TABLE davaliacoes;
DROP TABLE dcancelamento;
DROP TABLE dclientes;
DROP TABLE dcurso;
DROP TABLE dcanalvendas;
DROP TABLE dTempo;

CREATE TABLE dTempo (
    ID_tempo INT PRIMARY KEY AUTO_INCREMENT,
    Data_Compra DATE NOT NULL,
    Ano INT NOT NULL,
    Mes INT NOT NULL,
    Dia INT NOT NULL,
    Trimestre INT NOT NULL
);


CREATE TABLE dClientes (
    ID_cliente INT PRIMARY KEY AUTO_INCREMENT,
    Nome_Cliente VARCHAR(100) NOT NULL,
    Idade INT NOT NULL,
    Genero VARCHAR(10),
    Localizacao VARCHAR(100) NOT NULL
);


CREATE TABLE dCanalVendas (
    ID_Canal INT PRIMARY KEY AUTO_INCREMENT,
    Nome_Canal VARCHAR(50) NOT NULL #Email, Redes Sociais (Detalhar cada uma), Telefone,  etc.
);

CREATE TABLE dCurso (
    ID_Curso INT PRIMARY KEY AUTO_INCREMENT,
    Nome_Curso VARCHAR(100) NOT NULL,
    preco DECIMAL(10, 2) NOT NULL
);

CREATE TABLE dAvaliacoes (
    ID_Avaliacao INT PRIMARY KEY AUTO_INCREMENT,
    ID_Cliente INT NOT NULL,
    ID_Curso INT NOT NULL,
    Nota INT NOT NULL CHECK (Nota BETWEEN 1 AND 10),
    Comentario TEXT,
    Data_Avaliacao DATE NOT NULL,
    FOREIGN KEY (ID_Cliente) REFERENCES dClientes(ID_cliente),
    FOREIGN KEY (ID_Curso) REFERENCES dCurso(ID_Curso)
);



CREATE TABLE fVendas (
    ID_Venda INT PRIMARY KEY AUTO_INCREMENT,
    ID_Tempo INT,
    ID_cliente INT,
    ID_Canal INT,
    ID_Curso INT,
    Receita DECIMAL(10, 2),
    Numero_Leads INT NOT NULL,
    Numero_Followups INT NOT NULL,
    Numero_Demos INT NOT NULL,
    Numero_Matriculas INT NOT NULL,
    Churn_Rate DECIMAL(5, 2) NOT NULL,
    NPS INT NOT NULL,
    FOREIGN KEY (ID_Tempo) REFERENCES dTempo(ID_Tempo),
    FOREIGN KEY (ID_cliente) REFERENCES dClientes(ID_cliente),
    FOREIGN KEY (ID_Canal) REFERENCES dCanalVendas(ID_Canal),
    FOREIGN KEY (ID_Curso) REFERENCES dCurso(ID_Curso)
);


CREATE TABLE dCancelamento (
    ID_Cancelamento INT PRIMARY KEY AUTO_INCREMENT,
    ID_Tempo INT,  -- Data do cancelamento
    ID_cliente INT, -- Cliente que cancelou
    ID_Curso INT,   -- Curso que foi cancelado
    Data_Cancelamento DATE NOT NULL,
    Motivo_Cancelamento VARCHAR(255),  -- Motivo do cancelamento
    FOREIGN KEY (ID_Tempo) REFERENCES dTempo(ID_Tempo),
    FOREIGN KEY (ID_cliente) REFERENCES dClientes(ID_cliente),
    FOREIGN KEY (ID_Curso) REFERENCES dCurso(ID_Curso)
);